html{font-family:"Lucida Grande",Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;color:#333;background:url("../blog/images/bodybg.jpg")}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;vertical-align:baseline}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;resize:none;border:1px solid #c1c1c1}
input,textarea,select{*font-size:100%}
legend{color:#000}
h1{font-size:138.5%;line-height:32px}
h2{font-size:123.1%;line-height:24px}
h3{font-size:108%}
a{color:#0054a6;text-decoration:none}
#header{background-color:#004385;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#0054a6),color-stop(1,#004385));background-image:-webkit-linear-gradient(top,#0054a6 0%,#004385 100%);background-image:-moz-linear-gradient(top,#0054a6 0%,#004385 100%);background-image:-o-linear-gradient(top,#0054a6 0%,#004385 100%);background-image:-ms-linear-gradient(top,#0054a6 0%,#004385 100%);background-image:linear-gradient(top,#0054a6 0%,#004385 100%);left:0;right:0;top:0;position:fixed;z-index:99;}
#header .navbar{height:40px;line-height:40px;padding:0 30px;width:1140px;margin:auto;}
#header .navbar .navItem{float:left;height:100%;}
#header .navbar .navItem.active a{background-color:#003363}
#header .navbar .navItem a{display:block;color:#fff;padding-left:30px;padding-right:30px}
#header .navbar .hidden{display:none}
#contentContainer{width:1200px;margin:50px auto auto;}
#contentContainer .articles{margin-right:420px;}
#contentContainer .articles .article{margin-bottom:30px}
#slideBar{float:right;width:400px}
.aboutContainer{margin-bottom:20px;}
.aboutContainer h3{padding:10px 0;border-bottom:1px dashed #aaa;margin-bottom:10px;line-height:24px;font-size:16px;text-shadow:0 1px 0 #fff}
.aboutContainer p{margin-bottom:20px;}
.aboutContainer p.last{margin-bottom:0}
.recommendationsContainer{margin-bottom:20px;}
.recommendationsContainer h3{padding:10px 0;border-bottom:1px dashed #aaa;margin-bottom:10px;line-height:24px;font-size:16px;text-shadow:0 1px 0 #fff}
.recommendationsContainer .recommendations{border:1px solid #222;font-size:12px;overflow:hidden;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.recommendationsContainer .recommendations .item{line-height:18px;border-top:1px dashed #444;padding:8px;color:#666;text-shadow:0 -1px 0 #000;background-color:#333;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(1,rgba(0,0,0,0.1)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);background-image:-moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);background-image:-o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);background-image:-ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);background-image:linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);-webkit-box-shadow:0 0 0 1px #262626;-moz-box-shadow:0 0 0 1px #262626;box-shadow:0 0 0 1px #262626;}
.recommendationsContainer .recommendations .item.first{border-top:none}
.recommendationsContainer .recommendations .item a{color:#eee;display:block;}
.recommendationsContainer .recommendations .item a:hover{text-decoration:underline}
.recommendationsContainer .recommendations .item .createTime{background-color:#7c5229;border:1px solid #422100;margin-left:5px;padding:2px 3px;color:#422100;float:right;text-shadow:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.utlls{margin-bottom:20px;}
.utlls h3{padding:10px 0;border-bottom:1px dashed #aaa;margin-bottom:10px;line-height:24px;font-size:16px;text-shadow:0 1px 0 #fff}
.article{background-color:#fff;overflow:hidden;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);-moz-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.article .author{color:#999;text-shadow:0 1px 0 #fff;padding:5px;margin-bottom:20px;background-color:#fafafa;border-bottom:1px dashed #ddd;font-size:12px;line-height:32px;overflow:hidden;position:relative;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.article .author img{border:1px solid #fff;height:30px;width:30px;margin-right:20px;float:left;-webkit-box-shadow:0 0 0 1px #dadada;-moz-box-shadow:0 0 0 1px #dadada;box-shadow:0 0 0 1px #dadada}
.article .author .createTime{position:absolute;background-color:#e5e5e5;padding:5px 8px;line-height:12px;top:10px;right:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:inset 0px 1px 0px rgba(0,0,0,0.10), inset 0px -1px 0px #fff, inset 0px 2px 2px rgba(100,100,100,0.10);-moz-box-shadow:inset 0px 1px 0px rgba(0,0,0,0.10), inset 0px -1px 0px #fff, inset 0px 2px 2px rgba(100,100,100,0.10);box-shadow:inset 0px 1px 0px rgba(0,0,0,0.10), inset 0px -1px 0px #fff, inset 0px 2px 2px rgba(100,100,100,0.10)}
.article .info .tags{float:right;}
.article .info .tags .tag{background-color:#7c5229;border:1px solid #422100;margin-right:15px;padding:2px 10px;color:#222;text-shadow:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.article .info .title{font-size:24px;line-height:32px;padding-left:20px}
.article .content p,.article .content ul{margin:15px 20px}
.article .content ul li{list-style-position:inside;list-style-type:square}
.article .content pre code{margin:20px 0;max-height:300px}
.article .content .ellipsis{color:#999}
.article .behaviorBtns{margin:10px 20px 20px 20px}
.article .btn{text-align:center;padding:8px 10px;background-color:#0054a6;border:1px solid #0054a6;color:#fff;-webkit-box-shadow:inset 0 0 10px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.1);-moz-box-shadow:inset 0 0 10px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.1);box-shadow:inset 0 0 10px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.1);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-shadow:0 -1px 0 rgba(0,0,0,0.2);display:inline-block;padding:6px 10px;}
.article .btn:hover{background-color:#004c95}
pre code{font-family:'Monaco','Menlo',monospace;color:#f8f7f2;font-size:13px;background-color:#1c1d1e;padding:20px 20px 20px 0;display:block;overflow:auto;}
pre code .lineNo{width:30px;text-align:right;padding-right:10px;color:#75715e;display:inline-block;*display:inline}
.keyword{color:#f92672}
.regexp{color:#fd971f}
.string{color:#e6db74}
.comment{color:#75715e}
