include ./mixins
extends ./layout
block bodyContainer
  include ./header
  - fileImporter.importCss(['/statics/blog/stylesheets/article.styl', '/statics/blog/stylesheets/articleitem.styl', '/statics/common/stylesheets/monokai.styl']);
  #contentContainer
    - var article = viewData.article;
    .articleContainer
      mixin article(article)