!!!5
html(lang='zh-CN')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='keywords', content='javascript, node.js, WEB前端')
    meta(name='description', content='')
    meta(name='author',content='vicanso 腻味 tree')
    title= title
    link(rel='icon', href='/statics/blog/images/favicon.png', type='image/x-icon')
    script(type='text/javascript')
      //- window.TIME_LINE = 
      //-   logs : {}
      //-   startTimes : {}
      //-   time : (tag) ->
      //-     @startTimes[tag] = new Date().getTime();
      //-     @
      //-   timeEnd : (tag, startTag) ->
      //-     startTimes = @startTimes
      //-     start = startTimes[tag] || startTimes[startTag]
      //-     if start
      //-       @logs[tag] = new Date().getTime() - start
      //-     @
      //-   getLogs : () ->
      //-     @logs
        window.TIME_LINE={logs:{},startTimes:{},time:function(a){this.startTimes[a]=new Date().getTime();return this},timeEnd:function(a,c){var d,b;b=this.startTimes;d=b[a]||b[c];if(d){this.logs[a]=new Date().getTime()-d}return this},getLogs:function(){return this.logs}};
        window.TIME_LINE.time('html');
    //CSS_FILES_CONTAINER
    //if lt IE 9
      script(src='/statics/common/javascripts/utils/html5shiv.min.js', type='text/javascript')
    - fileImporter.importCss('/statics/blog/stylesheets/global.styl');
    - fileImporter.importJs(['http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js', '/statics/common/javascripts/utils/underscore.min.js']);
    //- - fileImporter.importJs(['http://lib.sinaapp.com/js/jquery/1.8.3/jquery.min.js', 'http://lib.sinaapp.com/js/underscore/1.3.3/underscore.min.js'])
  body
    block bodyContainer
    include ./footer
  - fileImporter.importJs('/statics/blog/javascripts/global.coffee');
  script(type='text/javascript')
    window.TIME_LINE.timeEnd('html');
    window.TIME_LINE.time('loadjs');
  //JS_FILES_CONTAINER
  //- script(src='/nocacheinfo.js?cache=false', type='text/javascript')
