.articleContainer
  padding 10px
  background-color white
  box-shadow 0 1px 3px rgba(34, 25, 25, 0.4)
  margin-bottom 15px
  .title
    margin 0
    color #09C
    font-size 24px
    line-height 32px
    height 32px
    overflow hidden
  .subtitle
    font-size 18px
    line-height 32px
  .content
    p
      margin-bottom 10px
    .CodeMirror
      margin 10px 0
      .CodeMirror-scroll
        height auto
        max-height 300px