@import "./common"
#contentContainer
  width CONTENT_WIDTH
  margin HEADER_HEIGHT + SPACING_VALUE auto auto
  .articleContainer
    line-height 24px
    .content p
      text-indent 2em
    .subtitle
      margin-top 20px